body {background-color: rgb( 44, 127, 138);
        /*background-image: url(../imatges/favicon.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-x: right;*/
        
}
h1 {color: rgb( 0, 0, 255);

}
p {color: rgb( 255, 0, 0);

}
table { 
        /*border-color: black;
        border-style: solid;
    border-collapse: collapse;*/
    /*height:100%;*/
    /*width:100%;*/
    border-width: 1px;
    color: rgb( 255, 0, 0);
    border-spacing: 0;
    /*display: flex;*/
    
    }
tr { 
        border-color: black;
        border-style: solid;
        border-collapse: collapse;
        border-width: 1px;
    
    }
    td { 
        border-color: black;
        border-style: solid;
        border-collapse: collapse;
        border-width: 1px;
        background-color: aliceblue;
    }
    /*table,td,tr{
        
    text-align: center;
    opacity: 0.90;
    }*/