table { 
    /*border-color: black;
    border-style: solid;
border-collapse: collapse;*/
height:50%;
width:50%;
border-width: 1px;
color: rgb( 255, 0, 0);
border-spacing: 0;
/*display: flex;*/

}

tr { 
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
    border-width: 1px;

}
td { 
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
    border-width: 1px;
    background-color: aliceblue;
}
table,td,tr{
    
text-align: center;
opacity: 0.90;


}
body{

    height: 100vh;

    background-image:url(../imatges/Skilandersfoto2.jpg);

  background-size: cover;
  background-repeat: repeat-y;
  background-position: center;

    color: rgb( 255, 0, 0);
}