body{
    /*background-position: center;*/
    /*background-size: contain;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url(../imatges/Skilandersfoto2.jpg);
    color: rgb( 255, 0, 0);
    }
    ul.a {
        list-style-type: circle;
      }
      
      ul.b {
        list-style-type: square;
      }
      
      ol.c {
        list-style-type: upper-roman;
      }
      
      ol.d {
        list-style-type: lower-alpha;
      }